.tooltip {	
    position: absolute;		
    text-align: center;			
    padding: 4px;				
    font: 12px sans-serif;		
    background: whitesmoke;	
    border-radius: 8px;			
    pointer-events: none;			
}
.receivedGrid line,
.sentGrid line,
#failedGrid line {
    stroke: lightgrey;
    stroke-opacity: 0.3;
    shape-rendering: crispEdges;
}
.receivedGrid path,
.sentGrid path,
#failedGrid path {
    stroke: lightgrey;
    stroke-opacity: 0.5;
    shape-rendering: crispEdges;
}
.diskGrid line,
.memoryGrid line,
.cpuGrid line,
.diskXGrid line,
.memoryXGrid line,
.cpuXGrid line  {
    stroke: lightgrey;
    stroke-opacity: 0.3;
    shape-rendering: crispEdges;
}
.diskGrid path,
.memoryGrid path,
.cpuGrid path,
.diskXGrid path,
.memoryXGrid path,
.cpuXGrid path  {
    stroke: lightgrey;
    stroke-opacity: 0.5;
    shape-rendering: crispEdges;
}
.stopDiskGrid line,
.stopMemoryGrid line,
.stopCpuGrid line {
    stroke: red;
    stroke-opacity: 1;
    shape-rendering: crispEdges;
}
.startDiskGrid line,
.startMemoryGrid line,
.startCpuGrid line {
    stroke: green;
    stroke-opacity: 1;
    shape-rendering: crispEdges;
}
.stopDiskGrid path,
.stopMemoryGrid path,
.stopCpuGrid path,
.startDiskGrid path,
.startMemoryGrid path,
.startCpuGrid path {
    stroke-opacity: 0;
}
