.logo {
    height: 3rem;
}
.navbar {
    box-shadow: 0 2px 2px -2px steelblue;
}
.navbar-brown {
    color: #8d3538;
}
.nav-link {
    color: #8d3538;
}
.nav-link:hover {
    color: steelblue;
    cursor: pointer;
}
.traffics-link,
.systems-link,
.coding-progress-link {
    margin-left: -1px;
}
.dropdown-menu {
    padding: 0px;
    border: 1px solid steelblue;
    border-bottom: none;
}
.dropdown-item {
    border-bottom: 1px solid steelblue;
}
.dropdown-item:hover {
    cursor: pointer;
}
.active-link {
    border-bottom: 2px #8d3538 solid;
    padding-bottom: 6px;
}
.active-item {
    color: #8d3538;
    background-color: #b6d4e7;
}
.btn-logout {
    border-color: #8d3538;
    color: #8d3538;
}
.txt-brown {
    color: #8d3538;
}
.btn-brown {
    border-color: #8d3538;
    color: #8d3538;
}
.btn-brown:hover {
    color: steelblue;
    transform: scale(1.05);
}
a {
    color: black;
}
.btn-logout:hover {
    color: steelblue;
    transform: scale(1.05);
}
.table-heading {
    background-color: #8e3436;
    height: 30px;
    color: #ffff;
}
.table thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #8e3436;
}
table > tbody > tr > td {
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}
td.float {
    text-align: right
}
td.integer, td.dash {
    text-align: center;
}
.coding-notstarted {
    background-color: #fc9f9f;
    font-size: 16;
    line-height: 0.7rem;
}
.coding-below25 {
    background-color: #ffd1d1;
    font-size: 16;
    line-height: 0.7rem;
}
.coding-above25 {
    background-color: #87cefa;
    font-size: 16;
    line-height: 0.7rem;
}
.coding-above50 {
    background-color: #fff6d6;
    font-size: 16;
    line-height: 0.7rem;
}
.coding-above75 {
    background-color: #d6ffd9;
    font-size: 16;
    line-height: 0.6rem;
}
.coding-complete {
    background-color: white;
    font-size: 15;
    line-height: 0.5rem;
}
.login-body {
    margin: 0;
    padding: 0;
    background: #ffff;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.login-box {
    width: 320px;
    height: 220px;
    background: #8d3538;
    color: #fff;
    top: 30%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.avatar {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.login-h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 20px;
}
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}
.row > div {
    padding: 10px;
}
.row {
    margin: 10px auto;
}
.brand-logo {
    height: 40px;
    margin-top: 10px;
}
.login-body {
    margin: 0;
    padding: 0;
    background: #ffff;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.login-box {
    width: 320px;
    height: 220px;
    background: #8d3538;
    color: #fff;
    top: 30%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.avatar {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.login-h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 20px;
}
.card {
    padding: 15px;
    border-radius: 3px;
}
.body {
    background: #fafafa;
}
.text-stale-info {
    color: #000000;
}
.alert-stale-info {
    background-color: #f08080;
}
.tooltip{	
    position: absolute;		
    text-align: center;			
    padding: 4px;				
    font: 12px sans-serif;		
    background: whitesmoke;	
    border-radius: 8px;			
    pointer-events: none;			
}
th:hover {
    cursor: pointer;
}
.receivedGrid line,
.sentGrid line,
.failedGrid line {
    stroke: lightgrey;
    stroke-opacity: 0.3;
    shape-rendering: crispEdges;
}
.receivedGrid path,
.sentGrid path,
.failedGrid path {
    stroke: lightgrey;
    stroke-opacity: 0.5;
    shape-rendering: crispEdges;
}
.diskGrid line,
.memoryGrid line,
.cpuGrid line,
.diskXGrid line,
.memoryXGrid line,
.cpuXGrid line  {
    stroke: lightgrey;
    stroke-opacity: 0.6;
    shape-rendering: crispEdges;
}
.diskGrid path,
.memoryGrid path,
.cpuGrid path,
.diskXGrid path,
.memoryXGrid path,
.cpuXGrid path  {
    stroke: lightgrey;
    stroke-opacity: 0.6;
    shape-rendering: crispEdges;
}
.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

