.nav{
    background: #ffff;
    width: 100%;
    max-width:initial;
    height:80px;
  }
.nav-link {
    color: #8d3538; 
}
.brand-logo{
  padding:5;
  height:60px;
}
.table-heading {
    background-color: #8e3436;
    height: 50 px;
    color:#ffff;
}
